@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&family=Montserrat:wght@500;600;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:wght@400;500;600;700;800&family=Roboto&display=swap');
*{
   padding:0;
margin:0;
box-sizing: border-box;

}

body{
   font-family: 'Nunito Sans', sans-serif;
   overflow: auto;
}
.container{
   max-width: 1300px;
   padding:0px 30px;
       margin: 0 auto;
}
li{
   list-style: none;
}
a{
   text-decoration: none;
}
 header{
   background-image: url('../img/header-banner.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
min-height:770px;
 }
 .navbar.menu-list{
    display: none;
 }

 .contact-box{
   display: flex;
   align-items: center;
   gap: 20px;
 }

 .contact-list{
   display: flex;
   gap: 10px;
 }

 .contact-list span{
   color: #FFF;

font-size: 16.034px;
font-style: normal;
font-weight: 400;
line-height: 21.378px;

 }

 .contact-list P{
   color: #FFF;

font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21.378px;
margin-top: 8px;
 }

 .main-menu-list{
   display: flex;
   gap:48px;

 }
 .navbar2{
   position: relative;
   display: flex;
   justify-content: space-between;
top:115px;
border-top: 2px solid rgba(193, 193, 193, 0.38);
padding-top: 34px;
 }

 .logo2 p{
   width: 197px;
height: 27px;
flex-shrink: 0;
   color: #FFF;

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
 }

 .main-menu-list li{
   list-style: none;
 }

 .main-menu-list li a{
   color: #FFF;

   font-size: 18px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
 }
.banner-section h2{
   color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
max-width: 1056px;
height: 197px;
flex-shrink: 0;
font-size: 82px;
font-style: normal;
font-weight: 700;
line-height: 98px; /* 119.512% */
letter-spacing: -1.23px;
}

.banner-section p{
    color: #FFF;

font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;

}

.banner-section{
   margin-top: 150px;

}
.banner-section span{
   color: #FFF;

   font-size: 22px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}
 .banner3-button{
   display: flex;
   gap: 10px;
   margin-top: 37px;
 }
 .banner3-button div{
   display: flex;
   width: 240.399px;
   height: 62.902px;
   padding: 19px 0px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   flex-shrink: 0;
   border-radius: 10px;
border: 1px solid #FFFFFF;
box-sizing: border-box;
transition: 2s;
 }

 .banner3-button div a{

width:215.399px;
height: 45.902px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
gap: 10px;
flex-shrink: 0;
   color: #FFF;
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 12px;

 }

 .banner3-button div:hover a{
   background-color: #1E80F3;
 }
 .banner3-button div:hover{
   border: 1px solid #1E80F3;
 }

 .social-section{
   display: flex;
   gap:39px;
   align-items: center;
   margin-top: 55px;
 }

 .social-itms{
   display: flex;
   gap:33px;
   align-items: center;


}
.banner-left-icon img{
   width: 43px;
   height: 27px;
   flex-shrink: 0;
}
   .social-itms .img{
      width: 24px;
      height: 24px;
      flex-shrink: 0;
   }
   .social-itms img{
      width: 1.083px;
      height: 21.667px;
   }


   .welcome-box-left-right{
      display: flex;
justify-content: space-between;
align-items: center;
padding: 70px 0px;
   }
.welcome-box-left h2{
   max-width: 532px;
height: 119px;
flex-shrink: 0;
   color: #071D1A;
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: 48px; /* 133.333% */
   letter-spacing: -0.396px;
}

.welcome-box-left p{
   max-width: 648px;
height: 311px;
flex-shrink: 0;
   color: #667085;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
}
   .Request-Brochure-btn{
      display: flex;
width: 237px;
height: 50px;
padding: 19px 0px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 10px;
background: #1E80F3;
   }

   .Request-Brochure-btn a{
      color: #FFF;

text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 12px;
   }
   .welcome-box-right img {
      max-width: 480.888px;
  
      /* flex-shrink: 0; */
      width: 100%;
      margin-bottom: 50px;
      z-index: 0;
  }

  .topics-top-img img{
   max-width: 1241px;
width: 100%;
   flex-shrink: 0;
  }

  .topics-left{
padding-top: 50px;
  }
  .topics-left h4{
   width: 100%;
   max-width: 763px;
   color: #3F8DE9;
   font-size: 22px;
   font-style: normal;
   font-weight: 500;
   line-height: 30px;
   margin-bottom: 15px;
  }

  .topics-left p{
   width: 100%;
   max-width: 745px;
   height: auto;
   flex-shrink: 0;
   color: #667085;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
  }
  .topics-itms{
display: flex;

gap: 20px;
  }
.topics-list{
   display: flex;
   flex-direction: column;
   gap:30px;
}
.topics-list{
   margin-top: 40px;
}
.topics-itms img{
   width: 20px;
   height: 20px;
   flex-shrink: 0;
}
  .topics-itms span{
   display: flex;
  
   flex-direction: column;
   justify-content: center;
   flex-shrink: 0;
   color: #172230;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .topics-left-right{
   display: flex;
  }

  .topics-right{
   margin-top: -148px;
   width: 100%;
  max-width: 453px;
min-height: 723px;
padding: 30px 20px;
flex-shrink: 0;
   border: 15px solid #FFF;
   background: #F3F8FF;
   box-shadow: 0px 25px 31px 0px rgba(216, 216, 216, 0.25);
   z-index: 1;
  }

  .topics-right .topics-title{
height: auto;
width: auto;

   color: #172230;
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: 30px;
  }
  .topics-responsive-img{
   display: none;
  }

.Industries-itm-box{
   display: flex;
   flex-wrap: wrap;
 
   align-items: center;
gap: 22px;
justify-content: center;
box-sizing: border-box;
}
.Industries-title{
   text-align: center;
   margin: 0 auto;
max-width: 610px;
margin-bottom: 66px;
}

.Industries-title h2{
   color: #172230;
   max-width: 622.884px;
   height: 65.356px;
   flex-shrink: 0;
text-align: center;

font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 84.029px;
}
.Industries-title p{
   color: #667085;
max-width: 610px;
   text-align: center;

   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 28px;
}
.Industries-itms{
 
box-sizing: border-box;
max-width: 260.532px;
padding: 0px 30px;
height: 204px;
flex-shrink: 0;
border-radius: 5px;
background: #F5F9FF;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
}

.Industries-itms:hover{
   border-radius: 5px;
   background: #3B92F8;
}
.Industries-itms span{
   color: #172230;

text-align: center;

font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px;
}
.Attendees-itms-box{
   display: flex;
   align-items: center;
   justify-content: center;
  
   gap:20px;
}


.Attendees-itm img{
   width: 100%;
   max-width: 119px;
height: 66px;
flex-shrink: 0;
}
.Attendees-itm:hover{
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


}

.Industries-section{
   padding: 45px 0px;
}
.who-atteend-2box{
   display: flex;
justify-content: space-between;
   align-items: center;
   gap: 35px;
}
.who-attend-background{
   background-image: url('../img/who-attend-list-background.png');

background-repeat: no-repeat;
width: 100%;
max-width: 629px;
height: 422px;
}
.who-atteend-list{

   display: flex;
   flex-direction: column;
   gap:19px;
align-content: center;
padding: 45px 50px;
}
.who-atteend-list-itms{
   display: flex;
   align-items: center;
   gap:15px;
}


.who-atteend-list-itms span{
   color: #172230;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: -2px;
}

.who-attend-list-responsive{
   display: none;
}
.Our-Esteemed-box{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap:20px;
}



.Our-Esteemed-box img{
   max-width: 295px;
   height: 143px;
   flex-shrink: 0;
}

.Our-Esteemed-section-container{
   max-width: 1300px;
       padding: 0px 10px;
      margin: 0 auto;
   }
.Event-Gallery-itms-left{
   display: flex;
   flex-wrap: wrap;

flex-direction: column;
justify-content: center;
}
.Event-Gallery-itms-left div{
width: 672px;
}
.Event-Gallery-itms-left div img{
margin-left: 5px;
}
   .Event-Gallery-box{
      position: relative;
      display: flex;

   }


   .Event-Gallery2{
      position: absolute;
      margin-top:0px;
   }

   .event-gallery-responsive{
      display: none;
   }

   .Event-Statistics img{
      width: 100%;
      max-width: 1297px;
      height: 465px;
      flex-shrink: 0;
   }

   .Event-Statistics-responsive{
      display: none;
   }

.past-events-box{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap:20px;
}
   .past-events-itms{
      background-image:url(../img/Past-Events-itms-img.png);
      width:100%;
      max-width: 412px;
height: 279px;
flex-shrink: 0;
transition: .6s;
   }
   .past-events-itms:hover.past-events-itms::before{
      position: absolute;
      content: "";
      top:0;
      left:0;
      height: 100%;
background-color: rgba(0, 0, 0, 0.64);;
      width: 100%;
   }
   .past-events-itms:hover .past-events-itmss-hover{
display: block;
   }
   .past-events-itmss-hover{
      position: absolute;
top:60%;
left:50%;
transform: translate(-50%,-50%);
      display: flex;
      flex-direction: column;
      text-align: center;
      display: none;
   }
   .past-events-itmss-hover span{
      color: #FFF;
      text-align: center;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: 84.029px;
   }
   .past-events-itms{
      position: relative;
   }

   .past-hover{
      display: flex;
width: 222px;
height: 45px;
padding: 19px 0px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 10px;
background: #FFF;

   }

   .past-hover a{
      color: #1E80F3;
text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 12px;
   }

   .input-left-right{
      display: flex;
      gap: 20px;
      justify-content: center;
   }

   .input-left h2{
      color: #172230;

      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 84.029px;
   }

   .input-left p{
      color: #667085;
width: 100%;
      font-feature-settings: 'clig' off, 'liga' off;
  max-width: 739px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
      letter-spacing: -0.24px;
   }
   .input-box{
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 30px;
   }

   .input-box input{
      display: flex; 
      width: 100%;
max-width: 338px;
height: 52px;
padding: 16px 18px;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 8px;
background: #F6F6F6;
border: none;
outline: none;
color: #667085;


font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
   }

   .input-box .select-box{
      display: flex;
      width: 100%;
max-width: 338px;
height: 52px;
padding: 16px 18px;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 8px;
background: #F6F6F6;

   }

   .select-box select{
width:100%;
max-width: 296px;
border: none;
outline: none;
color: #667085;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
background: none;
   }

   .submit-button{
      display: flex;
      width: 100%;
max-width: 690px;
height: 54px;
padding: 19px 147px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
margin-top: 30px;
border-radius: 10px;
background: #1E80F3;
   }

   .submit-button a{
      color: white;
   }
   .itms-box {
      width:100%;
      max-width: 620px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      gap: 30px;
height: 435px;
flex-shrink: 0;
background: #F5F9FF;
padding: 0px 20px;
padding-left: 30px;
   }
   .itms-box .colon{ 
      width:100%;
      max-width: 56.28px;
      height: 50.174px;
      flex-shrink: 0;
   }
   .itms-box p{ 
      color: #667085;

width:100%;
max-width: 570px;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
letter-spacing: -0.27px;
padding-bottom: 20px;

border-bottom: 1px solid #CDDCF3;
   }
   .itms-box img{ 
      width:100%;
      max-width: 213px;
      height: 50.174px;
      flex-shrink: 0;
   }
   .owl-theme .owl-nav {
      margin-top: 10px;
      display: none;
  }

  .owl-theme .owl-dots .owl-dot span {
   width: 12px;
   height: 12px;
   margin: 5px 7px;
background-color: #FFF;
   display: block;
   -webkit-backface-visibility: visible;
   transition: opacity .2s ease;
   border-radius: 30px;
   border: 2px solid #1E80F3;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
   background: #1E80F3;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
   text-align: center;
   -webkit-tap-highlight-color: transparent;
   margin-top: 56px;
}

 .testimonial-responsive {
display: none;
}
.owl-dots button {
   outline: none;
}

.footer-section{
   max-width: 100%;
min-height: 372px;
padding: 40px 0px;
background: #1A2129;
}

.footer-content{
   display: flex;
   justify-content: space-between;
}

.footer-logo-content p{
   max-width: 486px;
   height: 134px;
   flex-shrink: 0;
   color: var(--White, #FFF);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-top: 36px;
}
.footer-menu h3{
   color: var(--White, #FFF);
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 37.5px; /* 150% */
text-transform: uppercase;
}
.menu-list{
   display: flex;
   flex-direction: column;
   gap:25px;
   margin-top: 25px;
}
.menu-list li{
list-style: none;
}

.menu-list li a{
text-decoration: none;
color: var(--White, #FFF);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
   }
   .footer-contact{
      display: flex;
      flex-direction: column;
      gap: 28px;
      width: 100%;
      max-width: 369px;
   }
   .footer-contact h3{
      color: var(--White, #FFF);
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 37.5px; /* 150% */
text-transform: uppercase;
   }

   
   .footer-contact p{
      color: var(--White, #FFF);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;

   }

   .footer-input{
      position: relative;
   }

   .footer-input input{
      position: absolute;
  width:100%;  
max-width:369px;
height: 50px;
flex-shrink: 0;
border-radius: 4px;
color: var(--gray-paragraph, #6C6C72);
padding-left: 20px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
background: var(--White, #FFF);
border: none;
outline: none;
   }

   .footer-input img {
      position: absolute;
      right: 2px;
      top: 2px;
  }

  .copyright{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:10px;
   margin-top: 30px;
   border-top: 1px solid rgba(255, 255, 255, 0.25);
padding-top: 20px;

  }

  .copyright p{
   color: var(--White, #FFF);
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
  }